.navbar-logo {
	height: 70px;
	width: 200px;
	margin-left: 50px;
}

@media screen and (max-width: 992px) {
	.navbar-logo {
		height: 50px;
		width: 110px;
		margin-left: 0px;
	}
}

.carousel-inner .carousel-item img {
	height: 80vh;
	object-fit: cover;
}

.carousel-container {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
}

.carousel-container:before {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-image: url("images/egle-sidaraviciute-pv-2hRmoJRU-unsplash.jpg");
	background-position: 50% 50%;
	object-fit: scale-down;
}

.aboutUs-text {
	text-align: left;
}

@media screen and (max-width: 992px) {
	.aboutUs-text {
		text-align: center;
	}
}

.testimonial-heading,
.testomonial-carousel {
	position: relative;
}

.testomonial-carousel .testomonial {
	height: 50vh;
	width: 100%;
}

.testomonial p {
	width: 50%;
}

/* .carousel-control-prev span,
.carousel-control-next span {
	 background-color: #000; 
} */

.icon {
	width: 65px;
	height: 65px;
	margin-bottom: 20px;
	fill: #727274;
}

.testimonial-header {
	color: #727274;
}

.aboutUs-container {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: auto auto auto;
	/* padding: 10px; */
	width: 90%;
	margin: 0 auto;
}

.aboutUs-container > span {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px 0;
	/* padding: 70px; */
	background-color: coral;
	height: 250px;
}

.aboutUs-container > span > img {
	height: 250px;
	width: 100%;
	object-fit: cover;
}

.aboutUs-container > span:nth-child(2) {
	margin-top: 75px;
}

.aboutUs-container > span:nth-child(3) {
	margin-top: 150px;
}
/* 

.aboutUs-container span{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px 0;
    padding: 70px;
}

.aboutUs-container span:nth-of-type(1){
    grid-area: 1 / 1 / span 6 / span 6;
	background-image: url('images/daria-dyachenko-D-TI9Zww3O0-unsplash.jpg');
	background-position: 0% 100%;
	width: 100%;
	height: 100%;
	object-fit: ; 

}

.aboutUs-container span:nth-of-type(2){
    grid-area: 7 / 1 / span 1 / span 2;
}

.aboutUs-container span:nth-of-type(3){
    grid-area: 7 / 3 / span 1 / span 2;
}

.aboutUs-container span:nth-of-type(4){
    grid-area: 8 / 1 / span 2 / span 4;
}

.aboutUs-container span:nth-of-type(5){
    grid-area: 7 / 5 / span 3 / span 2;
} */

/* PAGE IMAGE
-------------------------------------------- */

.main-image {
	height: 300px;
	width: auto;
	object-fit: cover;
}
